
:root {
	--background-color: #122833;
	--text-color: #fff;
	--correct-color: #81e781;
	--incorrect-color: #ff4141;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color);
}

.game-container {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	color: var(--text-color);
}

.score-container {
	padding: 1rem 2rem;
	font-size: 1.5rem;
}

.question-container {
	padding: 1rem 2rem;
	font-size: 2rem;
}

.answers-container {
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

button {
	padding: 1rem;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	cursor: pointer;
}

button,
button[disabled],
button[disabled]:hover {
	background-color: var(--text-color);
	color: var(--background-color);
}

button:hover {
	background-color: var(--background-color);
	color: var(--text-color);
}

button[disabled]:hover {
	cursor: default;
}

button.correct,
button.correct:hover {
	background-color: var(--correct-color);
	color: var(--background-color);
}

button.incorrect,
button.incorrect:hover {
	background-color: var(--incorrect-color);
	color: var(--text-color);
}

button.reset-button {
	grid-column: span 2;
}

@media screen and (max-width: 768px) {
	.answers-container {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 480px) {
	.score-container {
		font-size: 1.25rem;
	}

	.question-container {
		font-size: 1.4rem;
	}

	button {
		font-size: 1.25rem;
	}
}